body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

.piano {
    display: flex;
    align-items: flex-start;
    position: relative;
}

.white-key,
.black-key {
    cursor: pointer;
    border: 1px solid #000;
    height: 100px;
}

.white-key {
    background-color: #fff;
    width: 50px;
}

.black-key {
    background-color: #000;
    width: 30px;
    margin-left: -15px;
    margin-right: -15px;
    z-index: 1;
}
